.App{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    overflow-y: auto;
    scrollbar-width: thin;
}
.listItem{
    padding: 10px;
    cursor: pointer;
}
li{
    margin-left: 20px;
}